{% extends 'base.html'%}
{%block title%} {{title}} {%endblock title%}
{%block body%}
<div class="signup-form">
    <form method="POST" action="{% url 'meme-video-add' %}" enctype="multipart/form-data"> 
        {% csrf_token %}
        <h2>Add Video Meme</h2>
        <div class="form-group">
         {{form.as_table}}
        </div>
		<div class="form-group">
            <button type="submit" class="btn btn-success btn-lg btn-block">Post</button>
        </div>
    </form>
</div>
{%endblock body%}